* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(38, 163, 111);
  color: white;
  border-color: black;
}
.app {
  text-align: center;
}
h1{
  color: rgb(0, 0, 0);
}
div {
  padding: 10px;
}

select {
  padding: 5px;
  margin: 0 13px;
}
textarea {
  padding: 2rem;
  resize: none;
  border-radius: 2rem;
  outline: none;
}
button {
  border-radius: 1rem;
  padding: 0.9rem;
  width: 20%;
  font-weight: bolder;
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: transparent;
  transition: all 0.8s ease ;
}
button:hover{
  background: rgb(255, 255, 255);
  color: black;
}